:root {
  --card-bg: #f9f9f9;
  --card-text: #000;
  --box-shadow-color: rgba(0, 0, 0, 0.15); /* Sombra clara */
}

.dark-mode {
  --card-bg: #16171d;
  --card-text: #fff;
  --box-shadow-color: rgba(255, 255, 255, 0.15); /* Sombra clara */
}

.main-card {
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 20px;
  padding: 60px;
  margin: 40px auto;
  max-width: 1000px;
  box-shadow: 0 6px 15px var(--box-shadow-color); /* Sombra dinámica */
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 10px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px var(--box-shadow-color); /* Sombra más intensa en hover */
}

.card h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.2;
  padding-right: 50%; /* Texto comprimido */
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-left: 30px;
}